<%- include("partials/header") -%>
<body class="overflow-x-hidden">
    <section class="standard-sec lg:h-fit">
        <div class="h-10/12 w-full flex items-center justify-center">
            <div class="h-fit w-4/5">
                <h1 class="text-center text-red-500 text-5xl mb-5">Cody Cream is Watching</h1>
                <div class="w-1/2 md:w-8/12 mx-auto">
                    <img class="w-fit" src="./images/cody_cream.png" alt="">
                </div>
            </div>
            
        </div>
    </section>
</body>
<%- include("partials/footer") -%>