<%- include("partials/header") -%>
<body class="overflow-x-hidden">
    <section class="bg-gray-900 h-fit w-screen py-10">
        <div class="h-fit flex items-center justify-center">
            <div class="w-1/2 h-fit">
                <img class="mx-auto" src="./images/us_eagle.png" alt="">
                <h1 class="text-center mx-auto text-3xl sm:text-6xl text-red-600 py-5 sm:py-8">Restricted</h1>
                <div class="mt-5 flex items-center justify-center flex-col sm:flex-row gap-5">
                    <div>
                        <button onclick="location.href='/register'" class="rounded-lg mb-5 bg-blue-500 text-white px-5 py-2">Register</button>
                    </div>
                    <div>
                        <button onclick="location.href='/login'" class="rounded-lg mb-5 bg-blue-500 text-white px-5 py-2">Login</button>
                    </div>
                    <div>
                        <button onclick="location.href='/secure'" class="rounded-lg mb-5 bg-blue-500 text-white px-5 py-2">Secure</button>
                    </div>
                </div>
                <div class="text-white leading-normal">
                    <p>Take heed of this grave proclamation issued on behalf of the mighty and formidable United States Government. In no uncertain terms, I warn thee to depart swiftly and without delay, lest thou incur the full weight of our wrath.</p>
                    <br>
                    <p>Know that your unwelcome presence within the confines of this jurisdiction is deemed unlawful and a direct affront to the established order. The guardians of this nation, empowered by the laws that bind us, stand ready to act decisively against those who dare to challenge our sovereignty.</p>
                    <br>
                    <p>Cease your unauthorized activities immediately and retreat from this realm. Failure to comply shall invoke the ire of the United States Government, with consequences of an unyielding nature. Our forces are resolute, our reach is extensive, and we shall pursue justice with unwavering determination.</p>
                    <br>
                    <p>Abandon any notions of encroachment or further transgressions, for they shall be met with swift retribution. The strength and resolve of this nation are not to be trifled with, and the consequences of your defiance shall be severe.</p>
                    <br>
                    <p>This missive serves as a final warning, a last opportunity to recalibrate your course. Disengage, desist, and begone! Find solace in the fact that you have been granted this chance to withdraw from the path of imminent conflict.</p>
                    <br>
                    <p>Know that the United States Government is steadfast in its duty to protect and defend its sovereignty. Our resolve is unyielding, our forces unrelenting. Heed this message and choose wisely, for the repercussions of your actions shall be grave.</p>
                </div>
            </div>
        </div>
    </section>
</body>
<%- include("partials/footer") -%>